<p> Artist Name: <%= @artist.name %>
<p> Stage: <%= @artist.stage_number %></p>
<p> Time: <%= @artist.time %></p>

<a href="/artist/<%= @artist.name %>/edit">Edit artist</a><br>

<a href="/welcome">Return to home page</a>
