<form action="/stage_search" method="post">
  <div class="form-group">
    <label for="stage_number">Stage Number</label>
    <input name="stage_number" class="form-control" type="number">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>

  <a href="/welcome">Return to home page</a>
