<form action="/time_search" method="post">
  <div class="form-group">
    <select name="time">
      <option value="3:00">Three O'Clock</option>
      <option value="4:00">Four O'Clock</option>
      <option value="5:00">Five O'Clock</option>
      <option value="6:00">Six O'Clock</option>
      <option value="7:00">Seven O'Clock</option>
      <option value="8:00">Eight O'Clock</option>
    </select>
  </div>
  <button type="submit" class="btn">Go!</button>
</form>

  <a href="/welcome">Return to home page</a>
